<%= form_for([Paper.find(params[:paper_id]), @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<style type="text/css">
#wrap {
   width:100%;
   height: 100%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:45%;
   height:100%;
   background: #CCFF99;
   border: 10px solid #CCFF99;
}
#right_col {
   float:right;
   width:45%;
   height:100%;
   background: #66CC99;
   border: 10px solid #66CC99;
}
</style>

<div id="wrap">
    <div id="left_col">
         <h3>Please add your question:</h3>
         <div class="field">
         </div>
         <div class="field">
         <%= f.label :content %><br />
         <%= f.text_area :content %>
         </div> 
         <div class="actions" style="float:left">
         <%= f.submit %>
         </div>
         <br />
         <%= link_to 'Back', paper_questions_path(@paper),:class => 'btn btn-lg btn-primary'%>
    </div>
     <div id="right_col">
        <h3>Please upload your anwser image:</h3>
        <div class ="field" style="float: center">
             <%= f.file_field :avatar %>    
        </div> 
        <div class="field">
        <%= f.label :answertext %><br />
        <%= f.text_area :answertext %>
        </div>
         <div class="field">
         <%= f.label :tag %><br />
         <%= f.text_field :tag %> 
       </div>
    </div>

</div>

 <% end %>
