<h1>Listing questions</h1>

<table>
  <tr>
		<th>No.</th>
    <th>Content</th>
    <th>Anwsertext</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each_with_index do |question, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= question.content %></td>
    <td><%= question.anwsertext %></td>
    <td><%= link_to 'Show', author_paper_question_path(current_author, @paper, question) %></td>
    <td><%= link_to 'Edit', edit_author_paper_question_path(current_author, @paper, question) %></td>
    <td><%= link_to 'Destroy', [current_author, @paper, question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_author_paper_question_path(current_author, @paper) %><br />
<%= link_to 'Back to Paper List Page', author_papers_path(current_author)%>
