<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p>
  <b>Anwser Text:</b>
  <%= @question.anwsertext %>
</p>


<%= link_to 'Edit', edit_author_paper_question_path(current_author, @paper, @question) %> |
<%= link_to 'Back', author_paper_questions_path(current_author, @paper) %>
