<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p>
  <b>Tag:</b>
  <%= @question.tag %>
</p>

<p>
   <b> Anwser file:</b> <br />
   <%= image_tag @question.avatar.url(:thumb) %>

</p>

<p>
  <b>Anwser Text:</b>
  <%= @question.answertext %>
</p>


<%= link_to 'Edit', edit_paper_question_path(@paper, @question) %> |
<%= link_to 'Back', paper_questions_path(@paper) %>
