<h1>Listing questions</h1>

<table class="center table table-striped">
  <tr>
		<th>No.</th>
		<th>Tag</th>
    <th>Content</th>
    <th>Answertext</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each_with_index do |question, index| %>
  <tr>
    <td><%= index + 1 %></td>
		<td><%= question.tag %></td>
    <td><%= question.content %></td>
    <td><%= question.answertext %></td>
    <td><%= link_to 'Show', question_userquestionshow_path(@paper, question) %></td>
<% end %>
</table>

<br />

<%= link_to 'Back to Paper List Page', root_path %>
