<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span4">		

<h3>Paper Information</h3>
<br />
<p>
  <b>Title:</b>
  <%= @paper.title %>
</p>

	 <p>
  	 <b>Author:</b>
  	 <%= @paper.author.name %>
	 </p>

	 <p>
  	 <b>File:</b>
  	 <%= @paper.file %>
		 <%= link_to 'Download Paper', @paper.file_url, :class => 'btn btn-mini'%>
	 </p>

	 <p>
  	 <b>Demo:</b>
  	 <%= @paper.demo %>
		 <%= link_to 'Download Demo', scribd_download_link(@paper.scribd_doc_id), :class => 'btn btn-mini'%>
	 </p>
		 <%= link_to 'Edit Paper', edit_author_paper_path(current_author, @paper), :class => 'btn' %>
	 <br />
	 <br />
	</div>
	
	<div id="scribd" class="span8">
		<script type="text/javascript" src='http://www.scribd.com/javascripts/scribd_api.js'></script>

		<div id='embedded_doc'></div>

		<script type='text/javascript'>
		  var scribd_doc = scribd.Document.getDoc('<%= @paper.scribd_doc_id %>', '<%= @paper.scribd_access_key %>');

		  var onDocReady = function(e){

		  }

		  scribd_doc.addParam('height', 420);
		  scribd_doc.addParam('width', 640);
	      scribd_doc.addParam('auto_size', true);
	      scribd_doc.addParam('mode', 'slideshow');
		  scribd_doc.addParam('jsapi_version', 2);
		  scribd_doc.addEventListener('docReady', onDocReady);
		  scribd_doc.write('embedded_doc');
		</script>
	</div>
	
</div>
<br />
<div class="row">	
		<h1>Question List</h1>
		<div class="span6">

		<table class="center table table-striped">
  		<tr>
				<th>No.</th>
				<th>Tag</th>
    		<th>Content</th>
    		<th>Answertext</th>
    		<th></th>
    		<th></th>
    		<th></th>
  		</tr>

			<% @questions.each_with_index do |question, index| %>
  		<tr>
    		<td><%= index + 1 %></td>
				<td><%= question.tag %></td>
    		<td><%= question.content %></td>
    		<td><%= question.answertext %></td>
    		<td><a href="/papers/<%=@paper.id%>/answer/<%= question.id %>" target="a" class="btn btn-mini">Show</a></td>
    		<td><%= link_to 'Edit', edit_paper_question_path(@paper, question), :class => 'btn btn-mini' %></td>
    		<td><%= link_to 'Destroy', [@paper, question], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
  		</tr>
			<% end %>
		</table>
	</div>
	
	<div class="span6">
		<iframe width="100%" height="300px" name="a"></iframe>
	</div>
</div>
		<br />
		<br />
		<%= link_to 'New Question', new_paper_question_path(@paper), :class => 'btn btn-primary' %>
		<br />
		<%= link_to 'Back', author_papers_path(current_author), :class => 'btn' %>

