<p id="notice"><%= notice %></p>

<h1>Paper information</h1>
<br />

<p>
  <b>Title:</b>
  <%= @paper.title %>
</p>

<p>
  <b>Author:</b>
  <%= @paper.author.name %>
</p>

<p>
  <b>File:</b>
  <%= @paper.file %>
	<%= link_to 'Download Paper', @paper.file_url, :class => 'btn btn'%>
</p>

<p>
  <b>Demo:</b>
  <%= @paper.demo %>
	<%= link_to 'Download Demo', @paper.demo_url, :class => 'btn btn'%>
</p>

<h1>List Questions</h1>
<br />

<table class="center table table-striped">
  <tr>
		<th>No.</th>
		<th>Tag</th>
    <th>Content</th>
    <th>Answertext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each_with_index do |question, index| %>
  <tr>
    <td><%= index + 1 %></td>
		<td><%= question.tag %></td>
    <td><%= question.content %></td>
    <td><%= question.answertext %></td>
    <td><%= link_to 'Show', question_userquestionshow_path(@paper, question), :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= link_to 'Back', root_path, :class => 'btn' %>